<div class="row">
	<div class="col-xs-12">
		<p>
			<div id="container isotope" isotope-container="isotope-container" class="row">
				<div class="profile-item isotope-item" isotope-item="isotope-item" ng-repeat="cast in movie.credits.cast | limitTo:18 | orderBy:'order'" class="col-xs-2" ng:show="cast.profile_path != null">
					<div class="thumbnail">
						<img ng-src="{{url}}h632{{cast.profile_path}}" alt="{{cast.character}} Poster" class="img-responsive profile">
						<div class="caption">
							<h5>{{cast.name}}</h5>
							<h6>as {{cast.character}}</h6>
						</div>	
					</div>
				</div>
			</div>
		</p>
	</div>
</div>