<div class="row" ng:show="trailer.source != null">
	<div class="col-xs-8">
		<h3>Trailers</h3>
		<div class="dropdown">
			<button id="dLabel" class="btn btn-default" data-toggle="dropdown">
				{{trailer.name}} <span class="caret"></span>
			</button>
			<span class="label label-default">{{trailer.size}}</span>
			<ul class="dropdown-menu">
				<li ng-repeat="t in movie.trailers.youtube">
					<span class="hand" ng-click="setTrailer($index);">
						<i class="fa fa-youtube"></i> {{t.name}}
					</span>
				</li>
			</ul>
		</div>
		<p ng:show="trailer.source != null">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" id="player" type="text/html"
				ng-src="{{yturl}}" frameborder="1" allowfullscreen="1"></iframe>
			</div>
		</p>
	</div>
</div>
