<div class="row">
	<div class="col-xs-12">
		<h3>{{movie.title}}</h3>
		<h5>{{movie.tagline}}</h5>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<p>
			<div class="panel panel-default">
				<div class="panel-body">
					
				<span ng:show="movie.backdrop_path != null">
					<img ng-src="{{url}}w1280{{movie.backdrop_path}}" class="img-responsive" >
					<p class="text-left">
					<a href="" ng-href="{{url}}w1280{{movie.backdrop_path}}">{{url}}w1280{{movie.backdrop_path}}
					</a>
				</p>
				</span>
					<br>
					<ul class="list-inline">
				<li ng-repeat="genre in movie.genres">
					<span class="label label-primary">
						{{genre.name}}
					</span>
				</li>
			</ul>
			<a href="{{movie.homepage}}">{{movie.homepage}}</a>
					<h3>Overview</h3>
					<p>{{movie.overview}}</p>
					<h3 ng:show="trailer.source != null">{{trailer.name}} <span class="label label-default">{{trailer.size}}</span></h3>
					<p ng:show="trailer.source != null">
						<iframe id="player" type="text/html" width="640" height="390"
					  ng-src="{{yturl}}" frameborder="1"></iframe>
					</p>
					<ul class="list-inline">
						<li ng-repeat="t in movie.trailers.youtube">
							<span class="label label-primary" ng-click="setTrailer($index)">
								{{t.name}}
							</span>
						</li>
					</ul>
					<h3>Cast</h3>
					<div id="container" class="row">
						<div class="profile-item" ng-repeat="cast in movie.credits.cast | limitTo:18 | orderBy:'order'" class="col-xs-2" ng:show="cast.profile_path != null">
							<p>
								<div class="thumbnail">
									<img ng-src="{{url}}h632{{cast.profile_path}}" alt="{{cast.character}} Poster" class="img-responsive profile">
									<div class="caption">
										<h5>{{cast.name}}</h5>
										<h6>as {{cast.character}}</h6>
									</div>	
								</div>
							</p>
						</div>
					</div>
				</div>
			</div>
			
		</p>
	</div>
</div>
<script type="text/javascript">
$('#container').imagesLoaded()
  .always( function( instance ) {
    console.log('all profile images loaded');
    $('#container').isotope({
	  // options
	  itemSelector : '.profile-item',
	  layoutMode : 'fitRows'
	});
    $(window).smartresize();
  });
  
</script>
