<div id="container">
	<div class="grid-sizer"></div>
	<div class="item" ng-repeat="result in results | orderBy:orderProp:true" ng:show="result.poster_path != null">
		<p>
			<div class="thumbnail">
				<img ng-src="{{url}}w300{{result.poster_path}}" alt="{{result.title}}Poster" class="poster img-responsive">
				<div class="caption">
					<h5>{{result.title}}</h5>
					<h6>Released: {{result.release_date}}</h6>
					<p>
						<a ng-href="#/details/{{result.id}}" class="btn btn-primary" role="button">View Details</a>
						<button ng-click="addFavorite(result);" class="btn btn-primary" ng:show="!result.favorite");">Add Fav</button>
					</p>
				</div>	
			</div>
		</p>
	</div>
	<div id="noResults" ng:show="results == null">
		No Results Found
	</div>

</div>
<script type="text/javascript">
$('#container').imagesLoaded()
  .always( function( instance ) {
    console.log('all images loaded');
    $('#container').isotope({
  // options
  itemSelector : '.item',
  layoutMode : 'fitRows'
	});
    $(window).smartresize();
  });
  
</script>