<div class="thumbnail">
    <img ng-src="{{url}}w300{{movie.poster_path}}" data-ng-click="go('/details/' + movie.id)" alt="{{movie.title}}Poster" class="poster img-responsive hand">
    <div class="caption" >
					<span uib-tooltip="{{movie.title}}" tooltip-placement="top" tooltip-popup-delay="1000">
						<h5 class="title">{{movie.title}}</h5>
					</span>
        <h6 class="vote_average">Rating: {{movie.vote_average|| '0'}} / 10</h6>
        <h6 class="release_date">Released: {{movie.release_date}}</h6>
        <favorite-button favorites="favorites" movie="movie"></favorite-button>
    </div>
</div>