<!doctype html>
<html lang="en" ng-app="movieApp">
<head>
    <meta charset="utf-8">
    <title>My AngularJS Movies App</title>
    <link rel="stylesheet" href="../assets/css/app.css"/>
    <link rel="stylesheet" href="../bower_components/PACE/themes/blue/pace-theme-corner-indicator.css"/>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
<!--<ul class="menu">-->
<!--<li>Debug: <input type="checkbox" ng-model="debug"></li>-->
<!--<li>Url:{{url}}</li>-->
<!--<li>ProfileId:{{profileId}}</li>-->
<!--<li>MovieId:{{movieId}}</li>-->
<!--</ul>-->
<nav class="navbar-static-top navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-9" aria-expanded="false"><span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">AngularJS Movies</a></div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" ng-click="go('/')">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-click="go('/favorites')">Favorites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-click="go('/now-playing')">In Theatres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-click="go('/top-rated')">Top Rated</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-click="go('/upcoming')">Upcoming</a>
                </li>

            </ul>
            <movie-search></movie-search>
        </div>
    </div>
    <!--<div uib-collapse="isCollapsed">-->
        <!--<div class="well well-sm" style="background-color: #222; border-color: #222;-->
  <!--border-top-color: #080808;">-->
            <!--<div class="row">-->
                <!--<div class="col-xs-5">-->
                    <!--<movie-sort></movie-sort>-->
                <!--</div>-->
                <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-xs-3">-->
                    <!--<div class="input-group" class="pull-right">-->

                    <!--<span class="input-group-addon" id="filter-addon"><i class="fa fa-filter"-->
                                                                         <!--aria-hidden="true"></i></span>-->
                        <!--<input type="text" class="form-control" placeholder="Filter" aria-describedby="filter-addon"-->
                               <!--ng-model="movieList.filter">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</nav>

<div class="container" id="con">
    <div class="row">
        <div class="col-xs-12">
            <p>
            <div ui-view></div>
            </p>
        </div>
    </div>
</div>
<script>
    paceOptions = {
        ajax: {
            trackMethods: ['GET', 'POST', 'PUT', 'DELETE']
        }
    };
</script>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>

<!-- Angular -->
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="../bower_components/underscore/underscore.js"></script>
<script src="../bower_components/restangular/dist/restangular.js"></script>
<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="../bower_components/isotope/dist/isotope.pkgd.js"></script>

<script src="../assets/js/3rdparty/angular-isotope.js"></script>

<!-- App JS -->
<script src="app.js"></script>
<script src="app.route.js"></script>
<script src="app.run.js"></script>

<!--Components -->
<script src="shared/common/common.js"></script>
<script src="shared/themoviedb/themoviedb.service.js"></script>
<script src="components/list/movie-list.controller.js"></script>
<script src="components/list/card/movie-card.directive.js"></script>
<script src="components/list/sort/movie-sort.directive.js"></script>
<script src="components/detail/movie-detail.controller.js"></script>
<script src="components/detail/poster/poster-section.directive.js"></script>
<script src="components/detail/overview/overview-section.directive.js"></script>
<script src="components/detail/trailers/trailers-section.directive.js"></script>
<script src="components/detail/cast/cast-section.directive.js"></script>
<script src="components/detail/similar/similar-section.directive.js"></script>
<script src="components/favorites/favorites.controller.js"></script>
<script src="components/favorites/favorites.service.js"></script>
<script src="components/favorites/button/favorites-button.directive.js"></script>
<script src="components/search/movie-search.directive.js"></script>
<script src="components/now_playing/now-playing.controller.js"></script>c
<script src="components/top_rated/top-rated.controller.js"></script>
<script src="components/upcoming/upcoming.controller.js"></script>


<!-- Bundle
<script src="../assets/js/bundle.js"></script>
-->
</body>
</html>
