<div class="btn-group" opt-kind="" ok-key="sortBy">
    <div ng:show="debug" class="alert alert-info">
        <p>
            <i class="fa fa-info-circle"></i> Ordering by '{{ orderProp }}' in {{sortReverse ? 'descending' : 'ascending'}} order.
        </p>
    </div>
    <p id="moreResults" ng:show="total < total_results && showWarning">
        <uib-alert><i class="fa fa-exclamation-triangle"></i> Showing {{total}} of {{total_results}} results found. Please refine your search criteria to get more accurate results.</uib-alert>
    </p>
    <button type="button" class="btn btn-default active" ng-attr-opt-ascending="{{!sortReverse}}" ok-sel=".title"  ng-click="setSortOrder('title', true)">
        <span class="fa ng-class:{'fa-sort-alpha-asc': sortedAsc('title'),'fa-sort-alpha-desc': sortedDesc('title')}"></span>
        Title
    </button>
    <button type="button" class="btn btn-default" ng-attr-opt-ascending="{{!sortReverse}}" ok-sel=".release_date" ng-click="setSortOrder('release_date', false)">
        <span class="fa ng-class:{'fa-sort-numeric-asc': sortedAsc('release_date'),'fa-sort-numeric-desc': sortedDesc('release_date')}"></span>
        Release Date
    </button>
    <button type="button" class="btn btn-default" ng-attr-opt-ascending="{{!sortReverse}}" ok-sel=".vote_average" ng-click="setSortOrder('vote_average', false)">
        <span class="fa ng-class:{'fa-sort-amount-asc': sortedAsc('vote_average'),'fa-sort-amount-desc': sortedDesc('vote_average')}"></span>
        Rating
    </button>
</div>