/* app css stylesheet */

.hand {
    cursor: pointer;
}

.nav-item:hover {
    cursor: pointer;
}
.caption h5, .caption h6 {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*ISOTOPE*/
.isotope-item { width: 20%;
    padding: 2%;
    min-width:150px ;
}

@media(max-width: 767px) { /*x-small screen*/
    .isotope-item {
        width: 30%;
    }
}
@media  (max-width: 991px) and (min-width: 768px)   { /*small screen*/
    .isotope-item {
        width: 25%;
    }
}

@media(min-width: 992px) { /*med/lg screen*/
    .isotope-item {
        width: 20%;
    }
}

/**** Flip 3d transitions ****/
.flip3D > .front {
    position: absolute;
    transform: perspective( 600px ) rotateY( 0deg );
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
}

.flip3D > .back {
    transform: perspective( 600px ) rotateY( 180deg );
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
}
.flip3D:hover > .front {
    position: absolute;
    transform: perspective( 600px ) rotateY( -180deg );

}
.flip3D:hover > .back {
    transform: perspective( 600px ) rotateY( 0deg );

}