
<div class="btn-group" opt-kind="" ok-key="sortBy" ng-controller="SortController">
	<div ng:show="debug" class="alert alert-info">
		<p>
			<i class="fa fa-info-circle"></i> Ordering by '{{ orderProp }}' in {{sortReverse ? 'descending' : 'ascending'}} order.  
		</p>
	</div>
	<p id="moreResults" ng:show="total < total_results">
		<uib-alert><i class="fa fa-exclamation-triangle"></i> Showing {{total}} of {{total_results}} results. Please refine your search criteria to get more accurate results.</uib-alert>
	</p>
	<button type="button" class="btn btn-default active" ok-sel=".title"  ng-click="setSortOrder('title')">
		<span class="fa ng-class:{'fa-sort-alpha-asc': sortedAsc('title'),'fa-sort-alpha-desc': sortedDesc('title')}"></span>
		Title
	</button>
	<button type="button" class="btn btn-default" ok-sel=".release_date" ng-click="setSortOrder('release_date')">
		<span class="fa ng-class:{'fa-sort-numeric-asc': sortedAsc('release_date'),'fa-sort-numeric-desc': sortedDesc('release_date')}"></span>
		Release Date
	</button>
	<button type="button" class="btn btn-default" ok-sel=".vote_average" ng-click="setSortOrder('vote_average')">
		<span class="fa ng-class:{'fa-sort-amount-asc': sortedAsc('vote_average'),'fa-sort-amount-desc': sortedDesc('vote_average')}"></span>
		Rating
	</button>
</div>
<div id="movieContainer" isotope-container>
	<div class="grid-sizer"></div>
	<div class="item isotope-item" isotope-item ng-repeat="result in results track by result.id" ng:show="result.poster_path != null">
		<p current-item='{{$index}}' total-results="{{total}}">
			<div class="thumbnail">
				<img ng-src="{{url}}w300{{result.poster_path}}" ng-click="go('/details/' + result.id)" alt="{{result.title}}Poster" class="poster img-responsive hand">
				<div class="caption" >
					<span uib-tooltip="{{result.title}}" tooltip-placement="top" tooltip-popup-delay="1000">
						<h5 class="title">{{result.title}}</h5>
					</span>
					<h6 class="vote_average">Rating: {{result.vote_average|| '0'}} / 10</h6>
					<h6 class="release_date">Released: {{result.release_date}}</h6>
					<div class="text-center">
						<button ng-click="addFavorite(result);" class="btn btn-default btn-block" ng:hide="favorites[result.id]">
							<span class="glyphicon glyphicon-star-empty"></span> 
							Add
						</button>
						<button ng-click="removeFavorite(result);" class="btn btn-default btn-block" ng:show="favorites[result.id]">
							<span class="glyphicon glyphicon-star"></span> 
							Remove
						</button>
					</div>
				</div>	
			</div>
		</p>
	</div>
	<div id="noResults" ng:show="null == results">
		No Results Found
	</div>
</div>

<script type="text/javascript">
$( document ).ready(function() {
	console.log("Yes cHad")
	$('#movieContainer').imagesLoaded(function() {
		console.log("All Movie Images Loaded");
		$('#movieContainer').isotope({
			itemSelector : '.item',
			layoutMode : 'fitRows'
		});
		//$(window).smartresize();
	});
});
</script>