  <div class="alert alert-info">
    <p>Ordering by '{{ orderProp }}' in {{sortReverse ? 'descending' : 'ascending'}} order.  </p>
  </div>
    <div class="btn-group" opt-kind="" ok-key="sortBy">
	    <button type="button" class="btn btn-default active" ok-sel=".title"  ng-click="setSortOrder('title')">Title</button>
	 	<button type="button" class="btn btn-default" ok-sel=".release_date" ng-click="setSortOrder('release_date')">Release Date</button>
	</div>
<div id="container" isotope-container="isotope-container">
	<div class="grid-sizer"></div>
	<div class="item" isotope-item="isotope-item" ng-repeat="result in results | orderBy:orderProp:sortReverse" ng:show="result.poster_path != null">
		<p current-item='{{$index}}'>
			<div class="thumbnail">
				<img ng-src="{{url}}w300{{result.poster_path}}" ng-click="go('/details/' + result.id)" alt="{{result.title}}Poster" class="poster img-responsive hand">
				<div class="caption" >
					<h5 class="title">{{result.title}}</h5>
					<h6 class="release_date">Released: {{result.release_date}}</h6>
					<p>
						<button ng-click="addFavorite(result);" class="btn btn-default" ng:show="!favorites[result.id]"><span class="glyphicon glyphicon-star-empty"></span> Add</button>
						<button ng-click="removeFavorite(result);" class="btn btn-default" ng:show="favorites[result.id]"><span class="glyphicon glyphicon-star"></span> Remove</button>
					</p>
				</div>	
			</div>
		</p>
	</div>
	<div id="noResults" ng:show="null == results">
		No Results Found
	</div>

</div>
<script type="text/javascript">
$('#container').imagesLoaded()
	.always( function( instance ) {
		console.log("All Images Loaded");
	  $('#container').isotope({
		  itemSelector : '.item',
		  layoutMode : 'fitRows'
		});
		$(window).smartresize();
  	});
</script>