<!-- <div class="row">
	<div class="col-xs-4">
		<highchart id="chart1" config="chartConfig" class="span10"></highchart>
	</div> -->
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<poster-section></poster-section>

				<div class="row">
					<div class="col-xs-12">
						<h3>{{movie.title}}</h3>
						<h5>{{movie.tagline}}</h5>
					</div>
				</div>

				<uib-tabset active="active">
    				<uib-tab index="0" heading="Overview">
						<overview-section></overview-section>
					</uib-tab>
    				<uib-tab index="1" heading="Trailers" select="reInitIso()" ng-hide="trailerCount === 0">
						<trailers-section movie="movie"></trailers-section>
					</uib-tab>
					<uib-tab index="2" heading="Cast" select="reInitIso()">
						<cast-section></cast-section>
					</uib-tab>
				</uib-tabset>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$('#container').imagesLoaded()
.always( function( instance ) {
	$('#container').isotope({
		itemSelector : '.profile-item',
		layoutMode : 'fitRows'
	});
	$(window).smartresize();
});

</script>
