<div ng:show="debug" class="alert alert-info">
    <p>
        <i class="fa fa-info-circle"></i> {{movieurl | json}}
    </p>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <poster-section movie-id="{{movie.movieId}}"></poster-section>

                <div class="row">
                    <div class="col-xs-12">
                        <h3>{{movie.data.title}}</h3>
                        <uib-rating ng-model="movie.data.vote_average" max="10" read-only="true"></uib-rating> ({{movie.data.vote_average}})
                        <blockquote>
                            <p class="lead" ng-show="movie.data.tagline">"{{movie.data.tagline}}"</p>
                            <footer ng-show="movie.data.homepage">Official Website: <cite title="Source Title"><a href="{{movie.data.homepage}}" target="_blank">{{movie.data.homepage}}</a></cite></footer>
                        </blockquote>
                        <div></div>

                    </div>
                </div>

                <uib-tabset active="active">
                    <uib-tab index="0" heading="Overview">
                        <overview-section></overview-section>
                    </uib-tab>
                    <uib-tab index="1" heading="Trailers" select="movie.reInitIso()">
                        <trailers-section movie-id="{{movie.movieId}}"></trailers-section>
                    </uib-tab>
                    <uib-tab index="2" heading="Cast" select="movie.reInitIso()">
                        <cast-section movie-id="{{movie.movieId}}"></cast-section>
                    </uib-tab>
                    <uib-tab index="3" heading="Similar Titles" select="movie.reInitIso()">
                        <p style="margin-top: 20px">
                            <similar-section movie-id="{{movie.movieId}}" go="go(path)" favorites="favorites"></similar-section>
                        </p>
                    </uib-tab>

                </uib-tabset>
            </div>
        </div>
    </div>
</div>
